{{template "base" .}} {{define "title"}}Create Group{{end}} {{define "body"}}
<form action="/groups" method="post">
  <input type="hidden" name="csrf_token" value="{{.CsrfToken}}" />
  {{with .Form}}
  <div>
    <label>Name:</label>
    {{with .Errors.Get "name"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="text" name="name" value='{{.Get "name"}}' />
  </div>

  <div>
    <label for="date">Date:</label>
    {{with .Errors.Get "date"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="date" id="date" name="date" value='{{.Get "date"}}' />
  </div>

  <div>
    <input type="submit" value="Add Group" />
  </div>
</form>
{{end}} {{end}}
