{{template "base" .}} {{define "title"}}Create Group{{end}} {{define "body"}}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="box">
          <h3 class="title is-4">New Group</h3>
          <form action="/groups/create" method="post" id="AddGroupForm">
            <input type="hidden" name="csrf_token" value="{{.CsrfToken}}" />
            {{with .Form}}

            <div class="field">
              <label for="name" class="label">Name</label>
              <div class="control">
                <input
                  type="text"
                  id="name"
                  class="input"
                  name="name"
                  value='{{.Get "name"}}'
                />
              </div>
              {{with .Errors.Get "name"}}
              <p class="help is-danger">{{.}}</p>
              {{end}}
            </div>

            <input
              type="hidden"
              id="participants"
              name="participants"
              value=""
            />

            <div class="field">
              <label class="label">Participants</label>

              <div class="control">
                <div
                  class="input"
                  contenteditable="true"
                  id="participants-text-input"
                  name="participants-text-input"
                  oninput="handleParticipantsInput(this.textContent || this.innerText)"
                ></div>

                <div class="dropdown" id="suggestions-dropdown">
                  <div class="dropdown-menu">
                    <div
                      class="dropdown-content"
                      id="suggestions-container"
                    ></div>
                  </div>
                </div>
              </div>

              <div
                class="field is-grouped is-grouped-multiline"
                id="participants-container"
              ></div>

              {{with .Errors.Get "participants"}}
              <p class="help is-danger">{{.}}</p>
              {{end}}
            </div>

            <div class="field">
              <label for="date" class="label">Date</label>
              <div class="control">
                <input
                  type="date"
                  id="date"
                  class="input"
                  name="date"
                  value='{{.Get "date"}}'
                />
              </div>
              {{with .Errors.Get "date"}}
              <p class="help is-danger">{{.}}</p>
              {{end}}
            </div>

            <div class="field">
              <div class="control">
                <button class="button is-primary is-fullwidth" type="submit">
                  Add Group
                </button>
              </div>
            </div>
            {{end}}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  let typingTimer;
  const doneTypingInterval = 200;

  let suggestions = [];
  let selectedParticipants = [];

  function handleParticipantsInput(input) {
    clearTimeout(typingTimer);
    typingTimer = setTimeout(() => getSuggestions(input), doneTypingInterval);
  }

  function getSuggestions(input) {
    const suggestionsDropdown = document.getElementById("suggestions-dropdown");
    suggestionsDropdown.classList.remove("is-active");

    const suggestionsContainer = document.getElementById(
      "suggestions-container"
    );

    suggestionsContainer.innerHTML = "";

    if (!input) {
      return;
    }

    fetch("/users/suggest?partialEmail=" + encodeURIComponent(input))
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.json();
      })
      .then((data) => {
        suggestions = Object.entries(data).filter(
          ([email, name]) => !selectedParticipants.includes(email)
        );
        suggestionsDropdown.classList.add("is-active");
        suggestions.push([input.trim()+"@guest.com",input.trim()])

        suggestions.forEach(([email, username]) => {
          const suggestionElement = document.createElement("a");
          suggestionElement.classList.add("dropdown-item");
          suggestionElement.textContent = email.endsWith("@guest.com") ? username+" (Add as guest)" : email;
          suggestionElement.addEventListener("click", () =>addParticipant(email));
          suggestionsContainer.appendChild(suggestionElement);
        });
      })
      .catch((error) => {
        console.error("Error fetching suggestions:", error);
      });
  }

  function addParticipant(email) {
    const toastContainer = document.getElementById("participants-container");

    const participantToastContainer = document.createElement("div");
    participantToastContainer.classList.add("control");

    const participantToast = document.createElement("div");
    participantToast.classList.add("tags", "has-addons");

    const participantEmail = document.createElement("a");
    participantEmail.classList.add("tag", "is-dark");
    participantEmail.textContent = email;

    const removeParticipantButton = document.createElement("a");
    removeParticipantButton.classList.add("tag", "is-delete");
    removeParticipantButton.addEventListener("click", () =>
      removeParticipant(email, participantToastContainer)
    );

    toastContainer.appendChild(participantToastContainer);
    participantToastContainer.appendChild(participantToast);
    participantToast.appendChild(participantEmail);
    participantToast.appendChild(removeParticipantButton);

    selectedParticipants.push(email);

    participantsInput = document.getElementById("participants");
    participantsInput.value = selectedParticipants.join(",");

    participantsTextInput = document.getElementById("participants-text-input");

    participantsTextInput.textContent = "";
    participantsTextInput.innerText = "";

    getSuggestions("");
  }

  function removeParticipant(email, toastElement) {
    const toastContainer = document.getElementById("participants-container");
    toastContainer.removeChild(toastElement);
    getSuggestions("");
  }
</script>

{{end}}
