{{template "base" .}} {{define "title"}}Create Expense{{end}} {{define "body"}}
<form action="/groups/{{.GroupID}}/expenses" method="post">
  <input type="hidden" name="csrf_token" value="{{.CsrfToken}}" />
  {{with .Form}}
  <div>
    <label>Description:</label>
    {{with .Errors.Get "description"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="text" name="description" value='{{.Get "description"}}' />
  </div>

  <div>
    <label>Amount:</label>
    {{with .Errors.Get "amount"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="text" name="amount" value='{{.Get "amount"}}' />
  </div>

  <div>
    <label for="select-owner">Owner:</label>
    <select name="select-owner" id="select-owner">
      {{range $.Group.Users}}
      <option value="{{.ID}}">{{.Name}}</option>
      {{end}}
    </select>
  </div>

  <div>
    <label for="select-participants">Participants:</label>
    <select name="select-participants" id="select-owner" multiple>
      {{range $.Group.Users}}
      <option value="{{.ID}}">{{.Name}}</option>
      {{end}}
    </select>
  </div>

  <div>
    <input type="submit" value="Add Expense" />
  </div>
</form>
{{end}} {{end}}
