{{template "base" .}} {{define "title"}}Groups{{end}} {{define "body"}}
<input type="hidden" id="csrf_token" value="{{.CsrfToken}}" />

<section class="section">
  <div class="container">
    <h3 class="title">Groups</h3>


    {{if .Groups}}
    <div class="table-container" style="max-height: 400px; overflow-y: auto;">
      <table class="table is-fullwidth">
      <tbody>
        {{range .Groups}}
          <tr style="background-color: var(--row-background-1);">
            <td>
                <p class="title is-3">{{.Name}}</p>
                <p class="subtitle is-7">
                  {{humanDate .Date}}<br>
                  Created {{humanDate .CreatedAt}}
                </p>
            </td>
            <td>
              <div class="buttons is-right">
                <button class="button is-danger is-light is-rounded is-outlined" onclick='deleteGroup({{.ID}})'>⛔️</button>
                <a href="/groups/{{.ID}}" class="button is-info is-light is-rounded is-outlined">⚙️</a>
              </div>
            </td>
          </tr>
        {{end}}

        </tbody>
      </table>
    </div>
    {{else}}
    <p>There's nothing to see here... yet!</p>
    {{end}}

    <div>
      <form action="/groups/create">
        <input type="hidden" name="csrf_token" value="{{.CsrfToken}}" />
        <button class="button is-primary is-fullwidth">Add Group</button>
      </form>
    </div>


</section>















<script>
  async function deleteGroup(groupId) {
    // Get the CSRF token from the hidden input
    const csrfToken = document.getElementById("csrf_token").value;

    await fetch(`/groups/${groupId}`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
        "X-CSRF-Token": csrfToken,
      },
    })
      .then((response) => {
        if (response.ok) {
          window.location.href = "/groups";
        } else {
          alert("Failed to delete group");
        }
      })
      .catch((error) => {
        console.error(error);
      });
  }
</script>

{{end}}