{{template "base" .}} {{define "title"}}{{.Group.Name}}{{end}} {{define "body"}}
<input type="hidden" id="csrf_token" value="{{.CsrfToken}}" />
{{with .Group}}
<div class="group">
  <div class="metadata">
    <h2>{{.Name}}</h2>
  </div>
  {{if .Date}}
  <pre>Event happened on <time>{{humanDate .Date}}</time></pre>
  {{end}}
  <pre><code>Participants: {{range .Users}}{{.Name}},{{end}}</code></pre>
  <h2>Expenses</h2>
  {{if .Expenses}}
  <table>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Paid By</th>
      <th>Participants</th>
    </tr>
    {{range .Expenses}}
    <tr>
      <th>{{.Description}}</th>
      <th>{{.Amount}}</th>
      <th>{{.Owner.Name}}</th>
      <th>{{range .Participants}}{{.Name}},{{end}}</th>
      <td>
        <button onclick="deleteExpense({{$.Group.ID}},{{.ID}})">⛔️</button>
      </td>
    </tr>
    {{end}}
  </table>
  {{else}}
  <p>There's nothing to see here... yet!</p>
  {{end}}
  <div>
    <form action="/groups/{{.ID}}/expenses">
      <input type="hidden" name="csrf_token" value="{{$.CsrfToken}}" />
      <button>New Expense</button>
    </form>
  </div>

  <h2>Transactions</h2>
  {{if .Transactions}}
  <table>
    <tr>
      <th>Paid by</th>
      <th>Paid to</th>
      <th>Amount</th>
    </tr>
    {{range .Transactions}}
    <tr>
      <th>{{.Sender.Name}}</th>
      <th>{{.Receiver.Name}}</th>
      <th>{{.Amount}}</th>
    </tr>
    {{end}}
  </table>
  {{else}}
  <p>No transactions calculated... yet!</p>
  {{end}}

  <div>
    <form action="/groups/{{.ID}}/transactions" method="post">
      <input type="hidden" name="csrf_token" value="{{$.CsrfToken}}" />
      <button>Calculate Transactions</button>
    </form>
  </div>
  <div class="metadata">
    <div><time>Created on {{humanDate .CreatedAt}}</time></div>
    <div><time>Last updated on {{humanDate .UpdatedAt}}</time></div>
  </div>
</div>
{{end}}

<script>
  async function deleteExpense(groupId, expenseId) {
    const csrfToken = document.getElementById("csrf_token").value;

    await fetch(`/groups/${groupId}/expenses/${expenseId}`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
        "X-CSRF-Token": csrfToken,
      },
    })
      .then((response) => {
        if (response.ok) {
          window.location.href = `/groups/${groupId}`;
        } else {
          alert("Failed to delete expense");
        }
      })
      .catch((error) => {
        console.error(error);
      });
  }
</script>

{{end}}
