{{template "base" .}} {{define "title"}}{{.Group.Name}}{{end}} {{define "body"}}
<input type="hidden" id="csrf_token" value="{{.CsrfToken}}" />

<section class="section">
  <div class="container">
    {{with .Group}}

    <div class="block">
      <h2 class="title is-3">{{.Name}}</h2>
      {{if .Date}}
      <h6 class="subtitle is-6"></h6>
      {{humanDate .Date}}
      </h6>
      {{end}}
    </div>

    <div class="block">
      <h3 class="title is-4">Participants</h3>
      <p class="subtitle is-6">{{range .Users}}{{.Name}},{{end}}</p>
    </div>

    <div class="block">
      <h3 class="title is-4">Expenses</h3>

      {{if .Expenses}}
      <div class="table-container" style="max-height: 400px; overflow-y: auto">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Description</th>
              <th>Amount</th>
              <th>Payer</th>
              <th>Participants</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{range .Expenses}}
            <tr>
              <th>{{.Description}}</th>
              <th>{{.Amount}}</th>
              <th>{{.Owner.Name}}</th>
              <th>{{range .Participants}}{{.Name}},{{end}}</th>
              <td>
                <div class="buttons is-right">
                  <button class="button is-danger is-light is-rounded is-small"
                    onclick="deleteExpense({{$.Group.ID}},{{.ID}})">
                    ⛔️
                  </button>
                </div>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
      {{else}}
      <p class="subtitle is-6">There's nothing to see here... yet!</p>
      {{end}}

      <form action="/groups/{{.ID}}/expenses">
        <input type="hidden" name="csrf_token" value="{{$.CsrfToken}}" />
        <button class="button is-primary">Add Expense</button>
      </form>
    </div>

    <div class="block">
      <h3 class="title is-4">Transactions</h3>

      {{if .Transactions}}
      <div class="table-container" style="max-height: 400px; overflow-y: auto">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Paid by</th>
              <th>Pays to</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            {{range .Transactions}}
            <tr>
              <th>{{.Sender.Name}}</th>
              <th>{{.Receiver.Name}}</th>
              <th>{{.Amount}}</th>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>

      {{else}}
      <p class="subtitle is-6">No transactions calculated... yet!</p>
      {{end}}

      <form action="/groups/{{.ID}}/transactions" method="post">
        <input type="hidden" name="csrf_token" value="{{$.CsrfToken}}" />
        <button class="button is-primary">Calculate Transactions</button>
      </form>
    </div>

    <p class="subtitle is-6">
      Created {{humanDate .CreatedAt}}<br />
      Last updated {{humanDate .UpdatedAt}}
    </p>

    {{end}}
  </div>
</section>

<script>
  async function deleteExpense(groupId, expenseId) {
    const csrfToken = document.getElementById("csrf_token").value;

    await fetch(`/groups/${groupId}/expenses/${expenseId}`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
        "X-CSRF-Token": csrfToken,
      },
    })
      .then((response) => {
        if (response.ok) {
          window.location.href = `/groups/${groupId}`;
        } else {
          alert("Failed to delete expense");
        }
      })
      .catch((error) => {
        console.error(error);
      });
  }
</script>

{{end}}