{{template "base" .}} {{define "title"}}Signup{{end}} {{define "body"}}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="box">
          <form action="/users/signup" method="POST" novalidate>
            <input type="hidden" name="csrf_token" value="{{.CsrfToken}}" />

            {{with .Form}}
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="name"
                  value='{{.Get "name"}}'
                  required
                />
              </div>
              {{range .Errors.Get "name"}}
              <p class="error-message">{{.}}</p>
              {{end}}
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input
                  class="input"
                  type="email"
                  name="email"
                  value='{{.Get "email"}}'
                  required
                />
              </div>
              {{range .Errors.Get "email"}}
              <p class="error-message">{{.}}</p>
              {{end}}
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="password" name="password" required />
              </div>
              {{range .Errors.Get "password"}}
              <p class="error-message">{{.}}</p>
              {{end}}
            </div>

            <div class="field">
              <div class="control">
                <button class="button is-primary is-fullwidth" type="submit">
                  Sign Up
                </button>
              </div>
            </div>
            {{end}}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{{end}}
